body {
	background-color: #171b2c;
	font-size: 20px;
}

#topDiv {
	width: 1000px;
	margin: 0 auto;
	background-color: #eaffeb;
	min-height: 100vh;
	padding: 10px;
	border: 1px solid orange;
}
/* FORM */
/* legend { background-color: rgb(181, 228, 242)} */
fieldset {
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(181, 228, 242);
 }
 
 fieldset label {
	display: inline-block;
	margin-bottom: 10px;
 }
 
 form input {
	float: right;
	margin-right: 20px;
	width: 150px;
 }
 
 form input:invalid {
	background-color: pink;
 }
 
 form input:valid {
	background-color: lightgreen;
 }
 
 /* SEARCH DIV */
 
#searchDiv {
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgb(181, 228, 242);
	padding: 10px;
}

#searchDiv input {
	/* float: right; */
	margin-left: 30px;
	
	width: 150px;
}

#searchInput {
	background-color: lightcyan;
}

#match-display {
	background-color: lightgoldenrodyellow;
}

 /*  TABLE */
 #contacts {
	overflow: auto;
 }

 table {
	margin-top: 20px;
	width: 100%;
	
 }
 table,
 tr,
 td,
 th {
	border: 1px solid blue;
 }
 
 tr,
 td,
 th {
	padding: 7px 10px 7px 10px;
 }
 
 th {
	background-color: lightblue;
 }
 
 tr:nth-child(even) {
	background-color: lightsteelblue;
 }
 
 tr:nth-child(odd) {
	background-color: lightcyan;
 }
 
 tr:hover {
	background-color: lightgreen;
 }
 
 td.trashIcon {
	background-image: url("../img/trash-icon.png");
	/* For remote image, use next line */
	/* background-image: url("http://irvingangulo.com/assets/cm-f/contact-manager/img/trash-icon.png"); */
	
	/* background-color: transparent; */
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
	/* padding-left: 5px;
		padding-right: 5px; */
	/* padding: 30px; */
 }

 td.trashIcon:hover {
	background-color: rgb(252, 62, 62);
 }
 